<h2 class="fw-bold h4 mb-4">Panel Principal</h2>
<div class="row g-3">
    
    <div class="col-6 col-xl-3">
        <a href="/usuarios" class="text-decoration-none text-dark">
            <div class="card-stat bg-white p-3 rounded-4 border-0 shadow-sm border-hover">
                <i class="bi bi-people text-warning fs-3"></i>
                <div class="mt-2">
                    <h5 class="fw-bold mb-0">120</h5>
                    <small class="text-muted">Usuarios</small>
                </div>
            </div>
        </a>
    </div>

    <div class="col-6 col-xl-3">
        <a href="/cursos" class="text-decoration-none text-dark">
            <div class="card-stat bg-white p-3 rounded-4 border-0 shadow-sm border-hover">
                <i class="bi bi-journal-text text-primary fs-3"></i>
                <div class="mt-2">
                    <h5 class="fw-bold mb-0">12</h5>
                    <small class="text-muted">Cursos</small>
                </div>
            </div>
        </a>
    </div>

    <div class="col-6 col-xl-3">
        <a href="/modulos" class="text-decoration-none text-dark">
            <div class="card-stat bg-white p-3 rounded-4 border-0 shadow-sm border-hover">
                <i class="bi bi-layers text-success fs-3"></i>
                <div class="mt-2">
                    <h5 class="fw-bold mb-0">45</h5>
                    <small class="text-muted">Módulos</small>
                </div>
            </div>
        </a>
    </div>

    <div class="col-6 col-xl-3">
        <a href="/asistencia" class="text-decoration-none text-dark">
            <div class="card-stat bg-white p-3 rounded-4 border-0 shadow-sm border-hover">
                <i class="bi bi-calendar-check text-info fs-3"></i>
                <div class="mt-2">
                    <h5 class="fw-bold mb-0">94%</h5>
                    <small class="text-muted">Asistencia</small>
                </div>
            </div>
        </a>
    </div>

</div>