body {
    background-color: #121212; color: white;
}
.img-container {
    overflow: hidden;
    border-radius: 10px;
    height: 250px;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.img-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}